.App {
  text-align: center;
  margin-top: 20%;
  display: flex;
  justify-content: space-around;
}
.List {
  width: 23%;
    margin-left: 35%;
    top: 13%;
}
.button {
  text-align: center;
  margin-top: 21%;
  display: flex;
  justify-content: space-between;
}
.movie:hover{
  -webkit-box-shadow: -1px -1px 63px 11px rgba(0,0,0,0.54);
-moz-box-shadow: -1px -1px 63px 11px rgba(0,0,0,0.54);
box-shadow: -1px -1px 63px 11px rgba(0,0,0,0.54);
  border-radius: 10px;
  background-color:#A7C7F7;
}
 .butn{
   display: flex;
   justify-content: space-between;
   background-color: #B6B8B8;

 }
