.App {
  text-align: center;
  margin-top: 20%;
  display: flex;
  justify-content: space-around;
}
.List {
  width: 29%;
    margin-left: 35%;
    top: 13%;
}
.button {
  text-align: center;
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
}
 
