header {
  padding: 20px 20px 20px 20px;
  position: fixed;
  top: 0;
  grid-gap:5px;
  grid-template-columns: 1fr 4fr 1fr ;
  grid-template-areas: 
  "nt mn mn sr st sb . . . "; 
  background-color: rgb(5, 196, 202);
  width: 100%;
  margin-bottom: 0px;  
  z-index: 3000;
  color: aliceblue;
  text-align: center;
  justify-content: space-around;
  display: flex;
}
.App a {
  margin: 10%;
}
.button {
  text-align: center;
  margin-top: 21%;
  display: flex;
  justify-content: space-between;
}
.movie:hover{
  -webkit-box-shadow: -1px -1px 63px 11px rgba(0,0,0,0.54);
-moz-box-shadow: -1px -1px 63px 11px rgba(0,0,0,0.54);
box-shadow: -1px -1px 63px 11px rgba(0,0,0,0.54);
  border-radius: 10px;
  background-color:#A7C7F7;
}
 .butn{
   display: flex;
   justify-content: space-between;
   background-color: #B6B8B8;
   width: 100% !important;
   border: solid;
   color: aquamarine;
 }
.user {
  display: flex;
  grid-gap: 20px;
  grid-template-columns: repeat(6, minmax(200px, 1fr));
  margin-top: 5%;
background-color: skyblue;
}
.movie {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, minmax(200px, 1fr));
}
.movie a {
  transition: transform .3s;  
  text-decoration: none;
}
.add-user{
    position: fixed;
    height: fit-content;
    width: 460px;
    background-color: skyblue;
    padding: 40px 80px 50px;
    top: 30%;
    left: 50%;
    margin-left: -230px;
    box-sizing: border-box;
    border-radius: 15px;
    flex-flow: column nowrap;
  }